example-icon {
  padding: 0 14px;
}


.ButtonReport,
.ButtonAdd {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Espacio entre icono y texto */
  font-weight: 500;
}

.logo {
  border: none;
  background: transparent;
  padding: 0;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.ButtonReport mat-icon {
  font-size: 20px;
}

.ButtonAdd mat-icon {
  font-size: 22px;
}

/* Opcional: Espaciado adicional */
.ButtonReport {
  margin-right: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
.toolbar{
  min-width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-mdc-table .mdc-data-table__header-row  {
  height: 30px;
  background: #7c4dff;
}

.ButtonReport {
  margin-right: 10px;
}

.container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.colum
{
  align-items: center;
}

.filter{
  position: absolute;
  display: flex;

}




@media (max-width: 600px){
  example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .toolbar{
    min-width: 100%;
  }

  table {
    width: 90%;
    padding: 5px;
  }

  .mat-mdc-form-field {
    font-size: 4px;
    width: 100%;
  }



  .container
  { width: 100%;
    margin: 0 auto;
    height: 100%;

  }


  .filter{
    position: absolute;
    display: flex;

  }

  .title-table{
    font-weight: 500;
    max-width: 10px;
    height: 50px;
  }
  th{
    background: #7c4dff;
    max-width: 30px;
  }


  .mar-column-nombre{
    flex: 1 1 1%;

  }
.columaccion{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}
.colum{
  padding: 0px;
  margin: 0;
  max-width: 20%;
}
.title-accion{
max-width: 5px;
}



}









