<div class="contenedorGrande">
  <div class="container">
    <h1 class="h1centrado">Dashboard</h1>
    <div *ngIf="logueado" class="card">
      <div class="card-head" style="color: black;">Autenticación Necesaria</div>
      <div class="card-body">
        <p style="color: black;">AUTENTÍQUESE EN EL SISTEMA PARA MÁS INFORMACIÓN Y GESTIÓN</p>
      </div>
    </div>
  </div>

  <div *ngIf="!logueado" class="col-md-12 container contenedorCard">
    <div class="row">
      <!-- Card para Miembros -->
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-cherry">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Usuarios</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">{{ cantMiembros }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card para Proyectos -->
      <div class="col-xl-3 col-lg-6" [routerLink]="['/projects']">
        <div class="card l-bg-blue-dark">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-project-diagram"></i></div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Proyectos</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">{{ cantProyectos }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card para Eventos -->
      <div class="col-xl-3 col-lg-6" [routerLink]="['/events']">
        <div class="card l-bg-green-dark">
          <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-calendar-alt"></i></div>
            <div class="mb-4">
              <h5 class="card-title mb-0">Eventos</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
              <div class="col-8">
                <h2 class="d-flex align-items-center mb-0">{{ cantEventos }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección de Gráfica -->
    <div class="row">
      <div class="col-lg-6">
        <canvas id="piechart"></canvas>
      </div>
    </div>
  </div>
</div>