<mat-dialog-content class="dialog-content">
  <!-- Título con el nombre de la tarea -->
  <h2 mat-dialog-title class="dialog-title">{{ data.nombre }}</h2>

  <!-- División -->
  <mat-divider></mat-divider>

  <!-- Información general de la tarea -->
  <div class="container">
    <div class="general-info">
      <p><strong>Descripción de la tarea:</strong> {{ data.descripcion }}</p>
      <p><strong>Fecha de inicio:</strong> {{ data.fechaInicio }}</p>
      <p><strong>Fecha de fin:</strong> {{ data.fechaFin }}</p>
        <p><strong>Responsable:</strong> {{ data.responsable.nombre }} {{ data.responsable.apellido }}</p>
    </div>

    <!-- Fechas de la tarea
    <div class="general-info">
      <mat-list class="info-list">
        <mat-list-item>
          <p><strong>Fecha de inicio:</strong> {{ data.fechaInicio }}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Fecha de fin:</strong> {{ data.fechaFin }}</p>
        </mat-list-item>
      </mat-list>
    </div> -->

    <!-- Responsable de la tarea
    <div class="general-info">
      <mat-list class="info-list">
        <mat-list-item>
          <p><strong>Responsable:</strong> {{ data.responsable.nombre }} {{ data.responsable.apellido }}</p>
        </mat-list-item>
      </mat-list>
    </div> -->

    <!-- Información de la actividad relacionada -->
    <div class="general-info">
      <h3>Información de la actividad relacionada</h3>
      <mat-list class="info-list">
        <mat-list-item>
          <p><strong>Nombre de la actividad:</strong> {{ data.actividad.nombre }}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Descripción de la actividad:</strong> {{ data.actividad.descripcion }}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Fecha de inicio de la actividad:</strong> {{ data.actividad.fechaInicio }}</p>
        </mat-list-item>
        <mat-list-item>
          <p><strong>Fecha de fin de la actividad:</strong> {{ data.actividad.fechaFin }}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <!-- División -->
  <mat-divider></mat-divider>
</mat-dialog-content>

<!-- Botón para cerrar el modal -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary" class="close-button">Cerrar</button>
</mat-dialog-actions>
