<div class="sidenav" style="color:{{color}}" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <img src="../../assets/logo.png" alt="Logo" class="logo-img" />
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Gestión de Proyectos</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon" @rotate></i>
    </button>
  </div>
  <ul class="sidenav-nav">

    <!-- Icono del dashboard -->
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="dashboard" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon icon-sidenav fas fa-tachometer-alt"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Dashboard</span>
      </a>
    </li>

    <!-- Icono de Proyectos -->
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="projects" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon icon-sidenav fas fa-project-diagram"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Proyectos</span>
      </a>
    </li>

    <!-- Icono de Eventos -->
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="events" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon icon-sidenav fas fa-calendar-alt"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Eventos</span>
      </a>
    </li>

    <!-- Icono de Calendario -->
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="calendar" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon icon-sidenav fas fa-calendar"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Calendario</span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon fas fa-file-pdf"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Reportes</span>
      </a>
    </li>


    <li class="sidenav-nav-item" *ngIf="isAdmin">
      <a class="sidenav-nav-link" routerLink="userlisting" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon icon-sidenav fas fa-users-cog"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Usuarios y permisos</span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="login" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon icon-sidenav fas fa-sign-out-alt"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Salir</span>
      </a>
    </li>

    <li class="sidenav-nav-item switch">
      <mat-slide-toggle thumbIcon (ngModelChange)="onChange($event)" ngModel="isdarkThemeActive"></mat-slide-toggle>
      <span class="sidenav-link-text" style="color:#fff" @fadeInOut *ngIf="collapsed">Tema {{name}}</span>
    </li>
  </ul>
</div>
